*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    display: grid;
}

.page-body {
    position: relative;
    height: 4000px;
    background-color:aqua;
}

.container {
    position: absolute;
    width: 100%;
    height: 2000px;
    background-color: white;
    border-width: 1px;
    border-style: solid;
}